@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 26px;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header p{
text-align:center;
color: #FFFFFF;
}
.section-header .section-title {
  font-size: 44px;
  color: #dfcb65;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;  


  display: block;
  text-align: center;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: -5px;
  right: 0;
  width: 30px;
  background: #dfcb65;
  border-radius: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 10px;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #dfcb65;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #dfcb65;
}
.listarrow{
padding:0px;
}
.listarrow li{
list-style:none;
margin:0px;
padding:0px;
}
.listarrow li i{
padding-right:15px;
color: #dfcb65;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
  color: #000000;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%; 
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}

.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {
background: #FFFFFF;
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
background: #dfcb65;
color: #FFFFFF;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 10px 15px 1px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: #dfcb65;
 
background: transparent;
}
.navbar-default .navbar-nav>li>a{
color: #dfcb65;
} 
#main-nav.navbar-default {
background: #000000;
}
.navbar-nav>li {
}
 

@media only screen and (min-width: 768px) {
  #main-nav.navbar-default { 
    -webkit-box-shadow: 0 0 3px 0 #dfcb65;
    box-shadow: 0 0 3px 0 #dfcb65;
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 24px;
  
    border-bottom: 4px solid transparent;
}
  .navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	}
  #main-nav.navbar-default .navbar-nav > li.active > a,

  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: transparent; 
	
    color: #dfcb65;
  
}
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}

#hero-banner {
  background: #000000;
  color: #fff;
  padding: 100px 0;
}

#hero-banner img {
  max-width: 100%;
  height: auto;
}

.banner-text {
  padding-right: 30px; /* Adjust spacing between image and text */
}

#hero-banner h2 {
  font-size: 39px;
  line-height: 49px;
  margin-top: 0; /* Remove default margin */
}

#hero-banner h2 b {
  color: #dfcb65;
}

#hero-banner p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 35px;
}

.text-left {
  text-align: left; /* Align paragraph to the left */
}

.text-center {
  text-align: center; /* Align button to the center */
}

#hero-banner a {
  width: 150px;
  display: inline-block; /* Change from block to inline-block */
  background: transparent;
  border: 2px solid #dfcb65;
  color: #dfcb65;
}

#hero-banner a:hover {
  background: #dfcb65;
  border-color: #dfcb65;
  color: #FFFFFF;
}

#hero-banner .btn {
  margin-top: 20px; /* Adjust button margin */
}

#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features h2, #portfolio p{ color: #FFFFFF;}
#features {
  padding: 100px 0;
  background: #FFFFFF;
  color: #FFFFFF;
}

#features .media.service-box:first-child {
  margin-top: 80px;
}
#services, #features {
  padding: 100px 0 75px;
}
.media.service-box {
  margin: 25px 0 36px;
  padding: 20px;
  padding-left: 86px;
  position: relative;
  background: #000000;
  color: #FFFFFF;
  border-radius: 0 0 20px 0;
  border: #dfcb65 2px solid;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 35px;
  /* height: 94px; */
  line-height: 53px;
  text-align: center;
  width: 79px; 
  color: #085C98;
  /* background:#fff; */
  /* box-shadow: inset 0 0 0 1px #d7d7d7; */
  /* -webkit-box-shadow: inset 0 0 0 1px #d7d7d7; */
  transition: background-color 400ms, background-color 400ms;
  position: absolute;
  padding: 14px;
  /* height: 100%; */
  left: -13px;
  top: -15px;
  vertical-align: middle;
  background: #000000;
  border-radius: 10% 20%;
  height: 80px;
  border: 6px #dfcb65 solid;
}
.features .media.service-box .pull-left > i{
color: #FFFFFF;
font-size: 30px;
padding-top: 10px;
}
.media.service-box:hover .pull-left > i {  
}
#portfolio {
  padding: 100px 0;
  background: #000000;
}

.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}

.portfolio-filter > li {
  float: left;
  display: block;
}

.portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin: 0px 2px;
  color: #D7D7D7;
  position: relative;
  border-bottom: 2px solid transparent;
  background: rgba(229, 229, 229, 0.29);
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active {
  background: #dfcb65;
  color: #FFFFFF;
}

.portfolio-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-item {
  margin-bottom: 20px;
}

.portfolio-item .portfolio-item-inner {
  position: relative;
}

.portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
}

.portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}

.portfolio-item .portfolio-item-inner .portfolio-info .preview {
  width: 60px;
  height: 60px;
  line-height: 60px; /* Adjusted to match height for vertical centering */
  text-align: center;
  color: #dfcb65;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering trick */
  font-size: 26px;
  border: 0;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.53);
}

.portfolio-item:hover .portfolio-info {
  opacity: 1;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.img-thumbnail {
display: inline-block;
max-width: 100%;
height: auto;
line-height: 1.42857143;
border: 1px solid #ddd;
border-radius: 0px;
padding:0px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin-bottom: 15px;
}
#testimonial {
  background: #222222;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
  background: url('../images/img3.jpg');
  background-size: cover;
}
#testimonial h2{
color:#fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 8px;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
background: transparent;
border: 1px solid rgba(255, 255, 255, 0.2);
margin: 0 8px;
}
#about {
  padding: 100px 0;
  background: #000000;
}

#about p{
color:#fff;
font-size: 22px;
margin-bottom: 60px;
line-height: 35px;
padding-left: 100px;
}

.text-left {
  text-align: left; /* Align paragraph to the left */
}

.text-center {
  text-align: center; /* Align button to the center */
}

.text-right {
  text-align: right; /* Align button to the right */
}

#about a {
  width: 150px;
  display: inline-block; /* Change from block to inline-block */
  background: transparent;
  border: 2px solid #dfcb65;
  color: #dfcb65;
}

#about a:hover {
  background: #dfcb65;
  border-color: #dfcb65;
  color: #FFFFFF;
}

#about .listarrow li{
color:#fff;
}
/*Models*/ 
#our-models {
  padding: 100px 0;
}
#our-models p {
  color:#fff;
  font-size: 22px;
}
#our-models .models-member {
  padding: 0;  
}
#our-models .models-member .models-img {
  margin: 0;
}
#our-models .models-member .models-info { 
  background: #222222;
  color: #BBBBBB;
  padding: 7px 0;
  border-top: 2px solid #fff;
} 

/*Testimonial Area*/

.testimonial-area{
	padding-bottom:60px;
}
.single-testimonial{
	margin-bottom:30px;
}
.single-testimonial blockquote{
	padding:15px 20px;
	margin-bottom: 22px;
	position:relative;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
	font-size: 14px;
	background: rgba(0, 0, 0, 0.39);

	color: #919191;
line-height: 22px;

	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.39);
}
 
.single-testimonial blockquote:after{
	/* position:absolute; */
	/* bottom:-19px; */
	/* left:45px; */
	content:"";
	/* border-top: 19px solid rgba(255, 255, 255, 0.29); */

	/* border-right: 22px solid transparent; */
}
.single-testimonial img{
	border-radius: 50%;
	opacity: 0.6;
}
.single-testimonial h5{
	padding: 8px 0 0px;
	font-size: 16px;
	color: #dfcb65;
}
 
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
 .navbar-nav {
margin: 0;  
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  padding: 100px 0 70px;
  background: #000000;
  background-size: cover;
  color: #FFFFFF;
  /* background: url('../images/img2.jpg'); */
  background-size: contain;
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #FFFFFF;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 4px solid #dfcb65;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
  margin: 0 auto;
}

#pricing .container {
  max-width: 1500px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
}

#pricing .row {
  text-align: center; /* Center the columns */
}

#pricing .col-md-3 {
  width: 25%; /* Ensure each column occupies one-third of the container width */
  float: none; /* Ensure columns are not floated */
  display: inline-block; /* Display columns as inline-block to allow centering */
}


#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #dfcb65; 
  padding: 8px;
  text-align: center;
  background: #000000;
  color: #ffffff;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #dfcb65; 
  padding: 15px 15px 30px;
  border: 1px solid #dfcb65;
  border-radius: 50%;
  height: 225px;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -16px;
  display: inline-block;
  width: 100%;
  height: 85px; 
  color: #000000;  
}
li.plan-purchase .btn {
  width: 100%;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing li.plan-purchase .btn {
  color: #FFF;
  font-weight: bold;
}

#pricing ul.pricing.featured {
  background: #000000; 
  border: 0;
  color: #FFF;
  border: 1px solid #dfcb65;
}
#pricing ul.pricing.featured  li.plan-header .price-duration{
color: #000000;
}
#pricing ul.pricing.featured li.plan-header {
  background: #dfcb65;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #000000;
}
/* Contact */

#contact-us .external-link {
  color: #FFF;
  font-weight: bold;
}

#contact-us .external-link:hover {
  color: #dfcb65;
}

#contact-us p {
  color:#fff;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 35px;
  padding-left: 100px;
}

#contact-us h1 {
  color:#fff;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 35px;
  padding-left: 100px;
}

#contact-us .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the icons */
}

#contact-us .social-icons ul li {
  margin-right: 10px;
}

#contact-us .social-icons ul li:last-child {
  margin-right: 0;
}

#contact-us .social-icons ul li a {
  display: inline-block;
  font-size: 36px; /* Adjust the font size to make the icons bigger */
  width: 64px; /* Width of the container */
  height: 64px; /* Height of the container */
  line-height: 64px; /* Adjust line height for centering */
  text-align: center;
  color: #FFF;
  background-color: #000000;
  transition: color 0.3s ease-in-out;
}

#contact-us .social-icons ul li a:hover {
  color: #dfcb65;
}



/***********************
********* Footer ******
************************/
#footer .footer-text {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #000000;
  text-align: center;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #dfcb65;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
@media only screen and (min-width: 768px) {
  #contact-us .social-icons {
    float: right;
  }
}
@media only screen and (max-width:768px){
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #000000;
padding: 20px 0;
}
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media only screen and (max-width: 480px) {
#hero-banner h2 {
margin-top: 161px;
font-size: 26px;
line-height: 40px;
padding: 10px;
}
#hero-banner p {
font-size: 18px;
padding: 10px;
}
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}

#portfolio .portfolio-item {
	width: 48.9%;
	padding: 8px;
}

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px; 
margin: 9px auto;
}

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}

#loadMoreBtn {
  width: 150px;
  display: inline-block; /* Change from block to inline-block */
  background: transparent;
  border: 2px solid #dfcb65;
  color: #dfcb65;
}

#loadMoreBtn:hover {
  background: #dfcb65;
  border-color: #dfcb65;
  color: #FFFFFF;
}

#privacy-policy {
  text-align: left; /* Align text to the left */
  margin: 50px auto; /* Center the element on the page */
  max-width: 90%; /* Adjusted max-width */
  padding: 20px; /* Increased padding */
  overflow: hidden; /* Prevent content from overflowing */
  background-color: #000000; /* Set background color to black */
  color: #FFF; /* Set text color to white */
}


#privacy-policy h1 {
  font-size: 28px;
  margin-top: 10px; /* Adjusted margin */
  margin-bottom: 20px; /* Adjusted margin */
  color: #FFF;
  background-color: #000000;
}

#privacy-policy h2 {
  font-size: 20px;
  margin-top: 30px; /* Adjusted margin */
  margin-bottom: 10px;
  color: #FFF;
  background-color: #000000;
}

#privacy-policy p {
  word-break: break-all;
  white-space: normal;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #FFF;
  background-color: #000000;
}

/* NSFW Button */
.nsfw-btn {
  display: inline-block; /* Change from block to inline-block */
  background: transparent;
  border: 2px solid #dfcb65;
  color: #dfcb65;
}

/* Hover effect */
.nsfw-btn:hover {
  background: #dfcb65;
  border-color: #dfcb65;
  color: #FFFFFF;
}

.overlay {
  display: none;
  position: fixed;
  top: 20%; /* Adjusted top position */
  left: 0;
  width: 100%;
  height: 60%; /* Adjusted height */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5000;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c3e50;
  color: white;
  width: 80%;
  max-width: 300px;
  height: auto; /* Adjusted to auto for content */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 5001;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  width: 150px;
  display: inline-block; /* Change from block to inline-block */
  background: transparent;
  border: 2px solid #dfcb65;
  color: #dfcb65;
  padding: 10px 20px; /* Smaller padding for mobile */
  font-size: 16px; /* Smaller font size for mobile */
  cursor: pointer;
}

.btn:hover {
  background: #dfcb65;
  border-color: #dfcb65;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  /* Adjust button spacing for desktop */
  .overlay {
    top: 10%; /* Adjusted top position for larger screens */
    height: 80%; /* Adjusted height for larger screens */
  }
  .btn-container {
    justify-content: center; /* Center buttons on desktop */
    margin-top: 10px; /* Adjust margin for desktop */
  }
  .btn {
    margin: 0 5px; /* Adjust button margin for desktop */
  }
}