body, .bg-dark {
  background-color: #000!important;
}

.landing-h1 {
  font-size: calc(1.275rem + .3vw)!important;

  @media (min-width: 425px) {
    font-size: calc(1.425rem + 2.1vw)!important;
  }
}

.landing-lead {
  font-size: .8em!important;

  @media (min-width: 425px) {
    font-size: 1.25rem!important;
    font-weight: 300!important;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: #fff!important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: none !important;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

#enhancedVids {
  opacity: 0.6;
  width: 100%;
  height:100%;
}

.btn-gradient, .bg-gradient {
  background: rgb(99,102,241)!important;
  background: linear-gradient(90deg, rgba(99,102,241,1) 0%, rgba(168,85,247,1) 50%, rgba(236,72,153,1) 100%)!important;
  border: none;

  &:hover, &:active{
    color: #fff !important;
  }
}

.btn-outline-primary {
  border-color:rgba(236,72,153,1);
  color:rgba(236,72,153,1);

  &:hover, &:active{
    background: rgb(99,102,241)!important;
    background: linear-gradient(90deg, rgba(99,102,241,1) 0%, rgba(168,85,247,1) 50%, rgba(236,72,153,1) 100%)!important;
    border: none;
  }
}

.btn {
  &.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.text-body-primary {
  color:rgba(236,72,153,1)!important;
}

.border-primary {
  border-color:rgba(236,72,153,1)!important;

  .card-header {
    background-color:rgba(236,72,153,1)!important;
  }
}

.feature-icon {
  border-radius:8px;
}

#models {
  .card-cover {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .d-flex {
    background: rgba(0,0,0,.6);
  }
}

#video-gens {
  display: none;
}

.nsfw {
  opacity: 0;
}

#pricing {

  form {
    background-image: url('../images/pricing-bg.jpg');
    background-size: cover;
    background-position: center 100%;
  }

  ul {
    list-style: none;
    padding-left: 15px;

    li {
      line-height: 2em;
      margin-left: -15px;
      display: flex;
      align-items: top;

      &::before {
        content: "\F26A";
        display: inline-block;
        font-family: bootstrap-icons;
        margin-right: 10px;
        color:rgba(236,72,153,1);
      }
    }
  }

  .form-check-input + label {
    border:solid 2px var(--bs-border-color-translucent);
    background-color: rgba(0,0,0,.25);

    .badge {
      &.text-bg-primary {
        background-color:rgba(236,72,153,1)!important;
        color:#FFF!important;
      }
    }
  }

  .form-check-input:checked + label {
    background: rgb(99,102,241)!important;
    background: linear-gradient(90deg, rgb(57, 59, 177) 0%, rgb(128, 54, 197) 50%, rgb(172, 37, 104) 100%)!important;
    border:solid 2px #fff;

    h5 {
     color:#fff!important; 
    }
    
    .badge {
      &.text-bg-primary {
        background-color:#FFF!important;
        color:rgba(236,72,153,1)!important;
      }
    }
  }
}