---
layout: "layout.njk"                                                                
permalink: "2257-compliance.html"
---
{# 01 - Page #}

<section id="privacy-policy">
	<h1 style="padding-top: 3rem">Compliance</h1>
	<p><strong>18 U.S.C. SECTION 2257 COMPLIANCE NOTICE</strong></p>
	<p>
		All models, actors, actresses and other persons that appear in
		any visual depiction of actual sexually explicit conduct
		appearing or otherwise contained in this Website were over the
		age of eighteen years at the time of the creation of such
		depictions. With respect to all visual depictions displayed on
		this website, whether of actual sexually explicit conduct,
		simulated sexual content or otherwise, all persons in said
		visual depictions were at least 18 years of age when said visual
		depictions were created. The owners and operators of this
		Website are not the primary producer (as that term is defined in
		18 USC section 2257) of any of the visual content contained in
		the Website.
	</p>
	<p>
		The original records required pursuant to 18 U.S.C. section 2257
		and 28 C.F.R. 75 for materials contained in the website are kept
		by the appropriate Custodian of Records as follows:
	</p>
	<address>
		AIMG CORP<br />
		C/o Brown & Blaier, PC<br />
		Custodian of Records<br />
		33 N Main Street<br />
		Marlboro, NJ 07746
	</address>
</section>
