---
layout: "layout.njk"                                                                
permalink: "contact.html"
---
{# 01 - Page #}

<section id="privacy-policy">
	<div class="container">
		<h1 style="padding-top: 3rem">Contact Us</h1>
		<p>
			Please email us at
			<a href="mailto:support@sexy.ai">support@sexy.ai</a>
			if you have any questions or suggestions.
		</p>
		<p>
			To cancel service, please cancel using the &quot;Cancel
			Subscription&quot; button on the account profile page.
			Before contacting our billing provider, please email us
			to see if we can resolve any issues you may have.
		</p>
		<h1>Complaints</h1>
		<p>
			For all complaints, please contact us through
			<a href="mailto:complaints@sexy.ai">
				complaints@sexy.ai
			</a>
			. Complaints will be reviewed and resolved within(7)
			business days. That resolution will then be communicated
			to the Complainant. Appeals or requests for any
			decisions made should be presented, again, to
			<a href="mailto:complaints@sexy.ai">
				complaints@sexy.ai
			</a>
			.
		</p>
		<h1>Appeals</h1>
		<p>
			If you have been depicted in any content and would like
			to appeal removal of such content, please notify us by
			email
			<a href="mailto:appeals@sexy.ai">appeals@sexy.ai</a>
			. If there should be disagreement regarding an appeal,
			we will allow the disagreement to be resolved by a
			neutral party.
		</p>
		<p>
			Please contact us by email at
			<a href="mailto:support@sexy.ai">support@sexy.ai</a>
			.
		</p>

		<address>
			Sexy.AI<br />
			<a href="mailto:support@sexy.ai">support@sexy.ai</a>
			<br />
			108 W 13th St<br />
			Wilmington, DE 19801<br />
			USA
		</address>
	</div>
</section>
